.site-footer-wrap {
	border-top: 4px solid;
	@include border-color(--footer-light-background-color);
}

.site-footer .social-icons-navigation {
	float: right;
	margin: 0.25em 1em 0;
}

.site-footer .social-icons-menu li a {
	padding: 1em;
}

.site-footer .social-icons-menu li a::before {
	text-decoration: none;
	font-size: 18px;
}

.site-footer .social-icons-menu li a:hover::before {
	@include color(--footer-link-hover-color);
	text-decoration: none;
}

@media only screen and (max-width: 40em) {
	.site-footer .social-icons-navigation {
		float: left;
		margin: 0 1em 1em;
	}
}

@media only screen and (min-width: 85em) {
	.wide-layout .site-footer .social-icons-navigation {
		margin: 0.25em 0 0;
	}
}
