@use "../_mixins";

.site-footer-wrap {
	border-top: 4px solid;
	@include mixins.border-color(--footer-light-background-color);
}

.site-footer .social-icons-navigation {
	float: right;
	margin: 0.25em 1em 0;
}

.site-footer .social-icons-menu li a {
	padding: 1em;
	@include mixins.color(--footer-link-color);
}

.site-footer .social-icons-navigation .social-icons-menu li a:hover,
.site-footer .social-icons-navigation .social-icons-menu li a:active {
	background: none;
}

.site-footer .social-icons-navigation .social-icons-menu li a:hover .icon,
.site-footer .social-icons-navigation .social-icons-menu li a:active .icon {
	@include mixins.fill(--footer-link-hover-color);
}

@media only screen and (max-width: 40em) {
	.site-footer .social-icons-navigation {
		float: left;
		margin: 0 1em 1em;
	}
}

@media only screen and (min-width: 85em) {
	.wide-layout .site-footer .social-icons-navigation {
		margin: 0.25em 0 0;
	}
}
