/*--------------------------------------------------------------
## Desktop X-Large ( < 1200px )
--------------------------------------------------------------*/
@media only screen and (max-width: 80em) {
	.footer-widgets-background {
		padding: 1.5em 1.5em 0;
	}

	.footer-widgets {
		margin-right: -1.5em;
	}

	.footer-widget-column {
		padding-right: 1.5em;
	}
}

@media only screen and (max-width: 70em) {
	.widget-magazine-posts .magazine-horizontal-box .large-post .more-link  {
		display: none;
	}
}

/*--------------------------------------------------------------
## Desktop Medium ( < 1040px )
--------------------------------------------------------------*/
@media only screen and (max-width: 65em) {
	.widget-magazine-posts .magazine-horizontal-box .large-post .entry-content {
		display: none;
	}

	.footer-widget-column {
		width: 50%;
	}

	.footer-widget-column:nth-child(3) {
		clear: left;
	}
}

/*--------------------------------------------------------------
## Desktop Small ( < 960px )
--------------------------------------------------------------*/
@media only screen and (max-width: 60em) {

	/* Footer */
	.footer-navigation {
		text-align: center;
		padding: 0;
	}

	.footer-navigation .today {
		display: none;
	}

	.footer-navigation-menu {
		float: none;
	}

	.footer-navigation-menu li {
		float: none;
		display: inline-block;
	}

	.site-footer .site-info {
		max-width: 80%;
	}
}

/*--------------------------------------------------------------
## Tablet Large ( < 880px )
--------------------------------------------------------------*/
@media only screen and (max-width: 55em) {
	.widget-magazine-posts .magazine-horizontal-box .large-post .entry-content,
	.widget-magazine-posts .magazine-horizontal-box .large-post .more-link {
		display: inline-block;
	}
}

/*--------------------------------------------------------------
## Tablet Medium ( < 800px )
--------------------------------------------------------------*/
@media only screen and (max-width: 50em) {
	.widget-magazine-posts .magazine-horizontal-box .large-post .more-link {
		display: none;
	}

	.site-footer .site-info {
		max-width: 60%;
	}
}

/*--------------------------------------------------------------
## Tablet Small ( < 720px )
--------------------------------------------------------------*/
@media only screen and (max-width: 45em) {
	.widget-magazine-posts .magazine-horizontal-box .large-post .entry-content {
		display: none;
	}
}

/*--------------------------------------------------------------
## Mobile Extra Large ( < 640px )
--------------------------------------------------------------*/
@media only screen and (max-width: 40em) {

	/* Magazine Post Widgets */
	.widget-magazine-posts .magazine-horizontal-box .large-post .wp-post-image,
	.widget-magazine-posts .magazine-vertical-box .large-post {
		float: none;
		padding: 0;
		width: 100%;
	}

	.widget-magazine-posts .magazine-vertical-box .small-posts {
		margin-left: 0;
		padding-top: 1em;
		padding-left: 0;
		width: 100%;
	}

	.widget-magazine-posts .magazine-horizontal-box .large-post .post-content {
		float: right;
		padding-left: 1.5em;
		width: 50%;
	}

	/* Footer Navigation */
	.footer-navigation-menu li {
		display: block;
	}

	/* Footer Line */
	.site-footer .site-info {
		display: block;
		float: none;
		padding-bottom: 0.5em;
		max-width: 100%;
	}

	.site-footer .social-icons-navigation {
		float: left;
		margin: 0 1em 1em;
	}
}

/*--------------------------------------------------------------
## Mobile Large ( < 560px )
--------------------------------------------------------------*/
@media only screen and (max-width: 35em) {
	/* Magazine Homepage: Category Post Widgets */
	.widget-magazine-posts .magazine-horizontal-box .medium-posts {
		margin-right: 0;
	}

	.widget-magazine-posts-list .type-post .entry-content {
		display: none;
	}

	.footer-widgets {
		margin-right: 0;
	}

	.footer-widget-column {
		float: none;
		padding-right: 0;
		width: 100%;
	}
}

/*--------------------------------------------------------------
## Mobile Medium ( < 480px )
--------------------------------------------------------------*/
@media only screen and (max-width: 30em) {
	/* Magazine Homepage: Category Post Widgets */
	.widget-magazine-posts .magazine-horizontal-box .large-post .post-content {
		float: none;
		padding: 0;
		width: 100%;
	}

	.widget-magazine-posts .magazine-horizontal-box .large-post .entry-content {
		display: inline-block;
	}
}

/*--------------------------------------------------------------
## Mobile Small ( < 320px )
--------------------------------------------------------------*/
@media only screen and (max-width: 25em) {
	.widget-magazine-posts-list .type-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}
}

/*--------------------------------------------------------------
## Mobile Small ( < 320px )
--------------------------------------------------------------*/
@media only screen and (max-width: 20em) {
	.widget-magazine-posts-list .type-post .entry-title {
		font-size: 16px;
		font-size: 1rem;
	}

	.widget-magazine-posts-list .type-post .entry-meta {
		display: none;
	}
}

/*--------------------------------------------------------------
## Theme Width
--------------------------------------------------------------*/
@media only screen and (min-width: 85em) {
	.wide-layout .footer-navigation {
		padding: 0;
	}

	.wide-layout .footer-navigation .today {
		margin: 0;
	}

	.wide-layout .site-footer .social-icons-navigation {
		margin: 0.25em 0 0;
	}
}
